# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
.venv/
venv/
.env

# Node
node_modules/
.next/
dist/
*.log

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Others
coverage/
